.App-header {
  text-align: center;
  height: 150px;
  padding: 20px;
}

.column {
  padding: 2rem;
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  min-width: 640px;
  vertical-align: top;
}
